html body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url('assets/poker-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


    .right {
        float: right;
    }

    .left{
        float:left;
    }

#p1, #deal, #p2, #draw, #count1, #count2, #autoplay {
    border: 1px solid black;
    background: white;
    opacity: 0.8;
    border-radius: 15px;
    width: 20%;
    height: 40px;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    
}

#currCard1, #currCard2{
    height: 400;
    width: 250px;
    background-size: 80% 90%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    left: 25px;
}

#deal:hover, #draw:hover{
    cursor: pointer;
}