@font-face {
    font-family: "dosVGA";
    src: url(assets/dosvga.ttf);
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes fadein2 {
    0% {opacity: 0;}
    100% {opacity: 1}
}

body{
    background-image: url('assets/poker-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "dosVGA";
    font-size: 1.5em;

}

.fadein {
    animation: fadein 2s;
}

.fadein2 {
    animation: fadein2 2s;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.box {
    border: 1px solid black;
    background: white;
    opacity: 0.8;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

#count1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1 2;
}

#currCard1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2 3;
}

#currCard2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3 4;
}

#winner {
    margin: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#count2 {
    grid-column-start: 3;
    grid-column-end: 3;
}

#currCard1, #currCard2{
    height: 350px;
    width: 225px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 25px;
}

#deal:hover, #draw:hover{
    cursor: pointer;
}